* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

.logo {
  height: 3rem;
}

.docImages {
  max-height: 12rem;
}

.datePicker {
  padding-left: 4px;
  height: 38px;
  max-width: 10rem;
  border-radius: 6px;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 0;
  border-style: solid;
}

